*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
} 
body{
    background-color: #dadada;
}

#tougle-check{
    display: none;
}
.clickmenu{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}
#tougle{
    display: initial;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    cursor: pointer;
    z-index: 15;
}
.tougle{
    left: 20px;
    transition: .8s;
    

}
.touglep{
    left: 240px;
    transform: rotate(360deg);
}

.bars{
    width: 40px;
    position: absolute;
    height: 5px;
    border-radius: 5px;
    left: 5px;
    background-color: #fff;

    transition: .7s;
}
.bar1{
    top: 12px;
}
.bar2{
    top: 24px;
}
.bar3{
    top: 36px;
    

}

.bar1p{
    top: 24px;
    opacity: 0;
    background-color: #fff;



}
.bar2p{
    transform: rotate(-225deg);
    background-color: #fff;

}
.bar3p{
    top: 24px;
    transform: rotate(45deg);
    background-color: #fff;

}

#menu-mob{
    position: fixed;
    z-index: 11;
    top: 0;
    width: 300px;
    height: 100dvh;
    background: linear-gradient(45deg, #1A2A3A, #1A2A3A);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(2px 5px 4px rgba(0, 0, 0, 0.297));

}
#click-area{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.menu-closed{
    left: -310px;
    transition: .5s;
}
.menu-open{
    left: 0;
    }
#logo-menu-cont{
    margin: 70px auto 30px auto;
    text-align: center;

}
#logo-menu-cont img{
    display: none;
    width: 100px;
}

#menu-mob ul li img{
    width: 25px;
    padding: 0 4px 0 4px;
    
}

#menu-mob ul li{
    margin-top: 15px;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    transition: .2s;
    filter: grayscale(70%);
    border-left: 3px solid #0d449600;
    
    

}


#menu-mob ul li:hover{
    background-color: #0d449613;
    border-radius: 10px;
    border-left: 3px solid #fff;
    filter: grayscale(0%);
    scale: 1.02;
}
#menu-mob ul li p{
    
    margin-left: 5px;
    color: #e4e4e4;
    font-size: 15px;

}
#menu-mob-cont{

    display: flex;
    align-items: center;
    justify-content: center;
}


#menu,#space{
    display: none;
}