header{
    background-color: #1A2A3A;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
header button{
    margin-right: 40px;
    width: 200px;
    height: 50px;
    background-color: green;
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: .3s;
}
header button:hover{
    background-color: darkgreen;
}

main{
    max-width: 800px;
    width: 90%;
    margin: 20px auto 0 auto;
    height: 300px;
   overflow-y: scroll;
   scrollbar-width: none;
    background-color: #fff;
    box-shadow: 2px 4px 5px rgba(105, 105, 105, 0.404);
    border-radius: 5px;
    position: relative;

}
.alunos-list{
    margin-top: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(177, 177, 177);
    height: 35px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    transition: .3s;
}
.alunos-list:hover{
    background-color: #1e61a45f;
}

.alunos-list div{
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.alunos-list div button{
    padding: 3px;
    width: 28%;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    transition: .3s;
}


.curso-user{
    background-color: #286cb0;
}
.delete-user{
    background-color: red;
}
.edit-user{
    background-color: green;
}

.curso-user:hover{
    background-color: #103458;
}
.delete-user:hover{
    background-color: rgb(121, 10, 10);
}
.edit-user:hover{
    background-color: darkgreen;
}


#cad-aluno-cont{
    max-width: 500px;
    width: 90%;
    margin: auto;
}
#cad-aluno{
    max-width: 500px;
    width: 90%;
    padding: 15px 10px 15px 10px;
    position: absolute;
    top: 10%;
    background-color: #ffffffc6;
    box-shadow: 2px 3px 4px rgba(81, 81, 81, 0.527);
    backdrop-filter: blur(20px);
    border-radius: 7px;
}

#form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#form h1{
    font-size: 20px;
    text-align: center;
}

#form p{
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

#form input{
    height: 30px;
    padding-left: 5px;
    outline: none;
}



#button-cont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-top: 20px;
}

#button-cont button{
    margin-left: 10px;
    height: 40px;
    width: 120px;
    
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

}
#cadastrar{
    background-color: green;
}

#cadastrar:hover{
    background-color: darkgreen;
}
#cancelar{
    background-color: red;
}

#cancelar:hover{
    background-color: darkred;
}

#cursos-user-cont{
    max-width: 500px;
    width: 100%;
    margin: auto;
    
}

#cursos-user-cont section{
    border-radius: 5px;
    justify-content: space-around;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgb(59, 59, 59);
    top: 15%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
#cursos-user-cont section h1{
    font-size: 17px;
}

.remove-btn:hover{
    background-color: #dd2525;
    cursor: pointer;
}
.cursos-aluno{
    overflow-y: scroll;
    height: 100px;
    background-color: #1034584b;
    padding: 10px;
    border-radius: 6px;
}
.cursos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(174, 173, 173);
    border-radius: 5px;
    padding: 7px 5px 7px 5px;
    height: 20px;
    margin-top: 5px;

}
.cursos p{
    font-size: 13px;
}

.cad-curso-user input, .cad-curso-user select{
    outline: none;
    height: 30px;
}

.cursos button{
    background-color: #103458;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
}

.cont-btn{ 
    display: flex;
    justify-content: space-between

}

.cont-btn button{
    border: none;
    height: 30px;
    cursor: pointer;
    color: #fff;
    
    background-color: #103458; 
    width: 40%;
}
.cont-btn button:hover{
    background-color: #296eb2;
}







.btn{
    cursor: pointer;
}

.hidden{
    display: none;
}